body {
  background: yellow;
}

body h1 {
  color: black;
}

body h2 {
  font-size: 4rem;
  color: black;
}

body h1 {
  display: inline-block;
  text-decoration: none;
  padding: 2rem;
}

body h1:hover {
  background: red;
}
